.card {
  background-color: #fff;
  width: 80%;
  box-shadow: var(--main-shadow);
  border-radius: 0.3rem;
  padding: 1rem;
  position: relative;
  margin-top: 2.5rem;
}

.img_logo {
  width: 3.5rem;
  position: absolute;
  top: -1.8rem;
  left: 1.5rem;
}

.company {
  font-size: 1.1rem;
  color: var(--dark-cyan);
  cursor: pointer;
}

.first_line {
  padding: 0.7rem 0;
  display: flex;
  align-items: center;
}

.new {
  margin: 0 1rem;
  font-size: 1rem;
  color: white;
  text-align: center;
  padding: 0.4rem;
  width: 4rem;
  height: 1.5rem;
  background-color: var(--dark-cyan);
  border-radius: 1rem;
}

.featured {
  font-size: 1rem;
  color: white;
  text-align: center;
  padding: 0.4rem;
  width: 6rem;
  height: 1.5rem;
  background-color: black;
  border-radius: 1rem;
}

.position {
  font-weight: bold;
  margin: 0;
}

.third_line {
  display: flex;
}

.postedAt,
.contract,
.location {
  color: var(--dark-grayish-cyan);
}

.postedAt,
.contract {
  display: flex;
  align-items: center;
}

.dot {
  border-radius: 50%;
  border: 0.15rem solid var(--dark-grayish-cyan);
  margin: 0 0.6rem;
}

hr {
  border-top: 0.1rem solid var(--dark-grayish-cyan);
}
