.filter {
  background-color: #fff;
  width: 80%;
  box-shadow: var(--main-shadow);
  border-radius: 0.3rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter button {
  margin: 0.5rem;
}

.clear {
  margin-top: 0.8rem;
  font-size: 1.2rem;
  cursor: pointer;
  color: var(--dark-grayish-cyan);
  border: none;
  background-color: white;
}

.clear:hover {
  color: var(--dark-cyan);
}

.btn_block {
  width: 80%;
  justify-items: start;
}
