@import './utils/index';

.head {
  width: 100%;
  font-family: $HomeFont;
  height: $header-size;
  background: $darkCyan;
  background-image: url('../assets/images/bg-header-mobile.svg?react');
}

@media ($tablet) {
  .head {
    background-image: url('../assets/images/bg-header-desktop.svg?react');
  }
}
