@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap');

:root {
  --dark-cyan: hsl(180deg, 29%, 50%);
  --light-grayish-cyan-background: hsl(180deg, 52%, 96%);
  --light-grayish-cyan-filter-tablets: hsl(180deg, 31%, 95%);
  --dark-grayish-cyan: hsl(180deg, 8%, 52%);
  --very-dark-grayish-cyan: hsl(180deg, 14%, 20%);
  --home-font: 'League Spartan', sans-serif;
  --main-shadow: 0.5px 0.9px 0 rgb(0, 0, 0, 0.3);
  --header-size: 150px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
h1,
h2,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 15px;
  font-family: var(--home-font);
  vertical-align: baseline;
  text-rendering: optimizelegibility;
  text-size-adjust: none;
}
