@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap');

:root {
  --dark-cyan: hsl(180deg, 29%, 50%);
  --light-grayish-cyan-background: hsl(180deg, 52%, 96%);
  --light-grayish-cyan-filter-tablets: hsl(180deg, 31%, 95%);
  --dark-grayish-cyan: hsl(180deg, 8%, 52%);
  --very-dark-grayish-cyan: hsl(180deg, 14%, 20%);
  --home-font: 'League Spartan', sans-serif;
  --main-shadow: 0 0.3rem 1rem 0.3rem rgb(0, 1, 1, 0.2);
  --header-size: 150px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
h1,
h2,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: var(--home-font);
  vertical-align: baseline;
  text-rendering: optimizelegibility;
  text-size-adjust: none;
}

.head {
  width: 100%;
  height: var(--header-size);
  background: var(--dark-cyan);
  background-image: url('./assets/images/bg-header-mobile.svg');
}

.back {
  background-color: var(--light-grayish-cyan-background);
  width: 100%;
  height: calc(100vh - var(--header-size));
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #fff;
  width: 80%;
  border-radius: 10px;
  box-shadow: var(--main-shadow);
}

@media (width >= 768px) {
  .head {
    background-image: url('./assets/images/bg-header-desktop.svg');
  }
}
