// colors
$desaturatedDarkCyan: hsl(180deg, 29%, 50%);
$lightGrayishCyanBackground: hsl(180deg, 52%, 96%);
$lightGrayishCyanFilterTablets: hsl(180deg, 31%, 95%);
$darkGrayishCyan: hsl(180deg, 8%, 52%);
$veryDarkGrayishCyan: hsl(180deg, 14%, 20%);

// font
$HomeFont: 'League Spartan', sans-serif;

// screens
$mobile: 'min-width: 375px';
$tablet: 'min-width: 768px';
$desktop: 'min-width: 1440px';

//shadows
$mainShadow: 0.5px 0.9px 0 rgb(0, 0, 0, 0.3);

//sizes
$header-size: 150px;
